auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
	address {{ansible_eth0.ipv4.address}}	
	netmask {{ansible_eth0.ipv4.netmask}}	

auto eth1

auto eth2
iface eth2 inet dhcp


auto docker0
iface docker0 inet static
        address 10.{{ docker_node }}.0.1
        netmask 255.0.0.0
        bridge_ports eth1 
        bridge_stp off
        bridge_fd 0

